#pokemonContainersContainer {
	display: flex;
	height: 30em;
}

#leftPokemonContainer {
	background-color: #d81a1a;
}

#rightPokemonContainer {
	background-color: #271a9e;
}

.pokemonContainer {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.selectablePokemon {
	margin: auto;
}

#loadingDiv {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#runningPikachu {
	height: 4em;
}