
body {
    font-size: 25px;
    text-align: center;
}

#startClickableText {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.error {
	font-family: monospace;
	background-color: #f7b4b4;
	font-size: 0.8em;
	padding: 4px;
}

#workInProgressMessage {
	width: 50%;
}

#workInProgressMessageContainer {
	display: flex;
	justify-content: center;
}